
{%load static%}
   <!-- Page Footer-->
    <footer class="main-footer bg-info">

      <div class="container">
           <div style="float: right" data-aos="fade-left">
           <a class="navbar-brand d-flex justify-content-end" href="{%url 'blogApp:index'%}">
            <img src="{% static "/img/data_tiness.png" %}" alt="logo" style="width:200px;">
        </a>
     </div>
        <div class="row">
          <div class="col-md-4" data-aos="fade-right">
            <div class="logo">
              <h6 class="text-white">DATA-TINES BLOG</h6>
            </div>
            <div class="contact-details">
              <p>Deptt of Software Engg,UET Taxila</p>
              <p>Phone: (+92) 335 542 2300</p>
              <p>Email: <a href="mailto:datatines@gmail.com">datatines@gmail.com</a></p>
              <ul class="social-menu">
                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-behance"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="copyrights">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>&copy; 2020. All rights reserved. DATA-TINES.</p>
            </div>

          </div>
        </div>
      </div>
    </footer>