{%extends 'blogApp/base.html'%}
{%load static%}
{%load socialaccount%}
{%providers_media_js%}
{%block body_block%}
<style>
	.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}
</style>
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">
          <div class="container">
            <div class="post-single">
              <div class="post-thumbnail"><img src="{{post.thumbnail.url}}" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category">
                    {%for cat in post.catagories.all%}
                    <a href="#">{{cat}}</a>
                    {%endfor%}
                  </div>
                </div>
                <h1>{{post.title}}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar "><img src="{{post.author.profile_pic.url}}" alt="..." class="img-fluid"></div>
                    <div class="title text-info"><span>{{post.author.user.username}}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">
                    <div class="date text-info"><i class="fa fa-clock-o "></i>{{post.timestamp|timesince}} ago</div>
                    <div class="comments meta-last"><i class="fa fa-comments-o text-info"></i>{{post.comment_count}}</div>
                  </div>
                </div>
                <div class="post-body">
                  {{post.content|safe}}
                </div>
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row"><a href="#" class="prev-post text-left d-flex align-items-center">
                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                    <div class="text"><strong class="text-primary">Previous Post </strong>
                      <h6>I Bought a Wedding Dress.</h6>
                    </div></a><a href="#" class="next-post text-right d-flex align-items-center justify-content-end">
                    <div class="text"><strong class="text-primary">Next Post </strong>
                      <h6>I Bought a Wedding Dress.</h6>
                    </div>
                    <div class="icon next"><i class="fa fa-angle-right">   </i></div></a></div>
                <div class="post-comments">
                  <header>
                    <h3 class="h6 text-info">Post Comments<span class="text-info no-of-comments"><b>({{post.comments.count}})</b></span></h3>
                  </header>
                 {%for comment in post.get_comments.all%}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                        <div class="image"><img src="{%static 'img/user.svg' %}" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="title"><strong>{{comment.user}}</strong><span class="date">{{comment.timestamp}} | {{comment.timestamp|timesince}} ago</span></div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>{{comment.content}}</p>
                    </div>
                  </div>
                  {%endfor%}
                </div>
                <div class="add-comment">
                  <header>
                    <h3 class="h6 text-info">Leave a reply</h3>
                  </header>
                  {%if user.is_authenticated%}
                  <form  action="{%url 'blogApp:showPost' pk=post.id%} " class="commenting-form">
                    <div class="row">
                      {% csrf_token %}

                      <div class="form-group col-md-12">
                        <textarea name="comment" id="comment" required="required" placeholder="Type your comment" class="form-control"></textarea>
                      </div>
                      <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary bg-info">Submit Comment</button>
                      </div>
                    </div>
                  </form>
                  {%else%}
                <h2 style="text-align:center">Login with Social Media to Post Comments</h2>
                  <form>
                        {%csrf_token%}
                        <div class="d-flex justify-content-center form_container">
                                         <div class="col">
<!--                                        <a href="{%provider_login_url "facebook" method="js_sdk"%}" class="fb btn">-->
<!--                                          <i class="fa fa-facebook fa-fw"></i> Login with Facebook-->
<!--                                         </a>-->
<!--                                     -->
                                        <a class="google btn d-flex justify-content-center" href="{%provider_login_url "google" %}?next={{request.path}}" ><i class="fa fa-google fa-fw">
                                          </i> Login with Google+
                                        </a>
                                      </div>
                    </form>
                  {%endif%}


                </div>
              </div>
            </div>
          </div>
        </main>
         {%include 'blogApp/sideBar.html'%}
      </div>
    </div>
{%endblock%}